/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: #eee;
    scroll-behavior: smooth;
}

header .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    color: #fff !important;
}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #ff4c60;
    transition: width 0.3s;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
}

.team-section {
    padding: 8rem 0; /* Added more padding to account for the fixed header */
   
